<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand logo" href="/">{{ title }}</a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li ><a class="navLink" routerLink="/">Home</a></li>
      <li  ><a class="navLink" routerLink="/projects">Projects</a></li>
      <div *ngIf="LoggedOut">
        <li>
          <a class="navLink" (click)="login()">Login</a>
        </li>
      </div>
      <div *ngIf="LoggedIn">
        <li class="navLink">
          <a  (click)="logout()">Logout</a>
        </li>
      </div>
      <div *ngIf="admin">
        <li class="navLink">
          <a routerLink="/admin">Admin</a>
        </li>
      </div>

      
      
    </ul>
  </div>
</nav>