<div class="card">
  <div class="card-body">
      <h1>Project: {{projectDisplay?.title}}</h1><br>
      <h2>Founder: {{projectDisplay?.founder}}</h2><br>
      <h3>Money to Start: {{projectDisplay?.moneyStart}}</h3><h3>Target Defunding Goal: {{projectToDisplay?.targetForDefunding}}</h3><br>
      <p>About: {{projectDisplay?.description}}</p><br>
      <p>Our Plan: {{projectDisplay?.fundsUse}}</p><br>
      <p>Rewards: {{projectDisplay?.rewards}}</p><br>
      <p>Category: {{projectDisplay?.projectType}}</p>
      <button (click)="defundProjectBy100(projectDisplay)">Defund by $100</button><br><br>
  <button (click)="defundProjectBy1000(projectDisplay)">Defund by $1000</button><br><br>
  <button (click)="defundProjectBy10000(projectDisplay)">Defund by $10000</button>
  <br>
  <br>
  <div *ngIf="admin"><button (click)="edit()">Edit Project</button></div>
  <div *ngIf="editing">
      <div *ngIf="admin">
          <div class="card">
              <div class="card-title">
                  <h1>Edit Project</h1>
              </div>
              <div class="card-body">
                  <div>
                      <label>Project Title:</label>
                      <br>
                      <input type="text" [(ngModel)]="projectDisplay.title">
                  </div>
                  <div>
                  <div>
                      <label>Founder:</label>
                      <br>
                      <input [(ngModel)]="projectDisplay.founder">
                  </div>
                  <div>
                      <label>Project Description:</label>
                      <br>
                      <input [(ngModel)]="projectDisplay.description">
                  </div>
                  <div>
                      <label>Money At Start:</label>
                      <br>
                      <input type="number" [(ngModel)]="projectDisplay.moneyStart">
                  </div>
                  <div>
                      <label>Plans for future funds:</label>
                      <br>
                      <input [(ngModel)]="projectDisplay.fundsUse">
                  </div>
                  <div>
                      <label>Defunder Rewards:</label>
                      <br>
                      <input [(ngModel)]="projectDisplay.rewards">
                  </div>
                  <div>
                      <label>Project Type:</label>
                      <br>
                      <select [(ngModel)]="projectDisplay.projectType">
                          <option value="charity">Charity</option>
                          <option value="idea">Idea</option>
                          <option value="product">Product</option>
                      </select>
                  </div>
                  <br>
                </div>
          <button (click)="delete(projectDisplay)">Delete</button><br><br>
          <button (click)="update(projectDisplay)">Update</button><br><br>
      </div>
  </div>
  
  

</div>